<a href="https://colab.research.google.com/github/joseunghan/class2022spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 2 ; print(type(a))

<class 'int'>

정수인 숫자의 type은 'int'

In [ ]:
b = 2.2 ; print(type(b))

<class 'float'>

실수인 숫자의 type은 'float'

In [ ]:
c = '조승한' ; print(type(c))

<class 'str'>

언어의 type은 'str'로 표시됨, 언어를 할당할 경우 ''를 사용하며 '123'처럼 숫자를 언어로 할당하는 것도 가능

In [ ]:
d = 'joseunghan' ; print(type(d)) ; print(d[1])

<class 'str'>
o

str의 경우 index를 통해서 내용 일부를 불러오는 것이 가능함, index는 첫글자가 0, 두번째 글자가 1인 식으로 지금은 1, 즉 두번째 글자를 불러와서 o가 나옴

In [ ]:
e = [1 , 2 , 'a' , [3 , '4']] ; print(type(e)) ; print(type(e[0])) ; print(type(e[2])) ; print(type(e[3]))

<class 'list'>
<class 'int'>
<class 'str'>
<class 'list'>

list를 이용해서 여러 내용을 담을 수 있으며 list 안에는 숫자, 언어가 아이템으로 들어갈 수 있고 list가 list 안에 하나의 아이템으로 들어가는 것도 가능함

In [ ]:
print(e[1]) ; print(e[3]) ; print(e[3][1])

2
[3, '4']
4

리스트의 내용을 불러오기 위해서 index를 사용할 수 있음

In [ ]:
print(e[1:3]) ; print(e[1:-1])

[2, 'a']
[2, 'a']

index의 경우 내용 중 범위를 정해서 일부를 불러올 수 있으며 e[1:3]의 경우 e의 내용 중 두번째부터 3번째까지를 불러오는 것이며 e[1:-1]은 e의 내용 중 두번쨰부터 마지막에서 두번째까지를 불러오는 것이다

In [ ]:
f = (1 , 'b' , 3 , (2 , 3)) ; print (type(f)) ; print(f[2])

<class 'tuple'>
3

tuple은 list와 똑같은 기능을 하지만 list는 내용을 바꾸는 것이 가능한 반면 tuple은 내용을 바꾸는 것이 불가능하다. tuple은 중요한 내용이 바뀌는 것을 방지하기 위해서 쓴다.

In [ ]:
g = { 'a': 'melon', 'b':'pineapple'} ; print(type(g)) ; print(g['a'])

<class 'dict'>
melon

dict는 리스트처럼 나열하는 형식이지만 key와 value의 쌍으로 이루어져 있으며 index로 불러오지 않고 key를 입력해서 value를 가져옴

In [1]:
s = 'joseunghan'
print(s[3], s[4], s[-3], s[-4])
print(s[0:2], s[:], s[1:], s[:5])

e u h g
jo joseunghan oseunghan joseu

string과 list는 유사성을 가지고 인덱스를 할 때는 똑같은 방식으로 인덱스 할 수 있음

In [2]:
len(s)

10

len() 함수를 이용하면 string의 길이를 알 수 있음

In [3]:
s[0]+s[2]+s[2:]*3

'jsseunghanseunghanseunghan'

string에도 +와 *의 연산기호를 쓰거나 적용할 수 있음

In [4]:
s.upper()

'JOSEUNGHAN'

s.upper() 함수는 s라는 string의 소문자를 대문자로 바꿔줌

In [7]:
s='I am Jo seung-han. \n' ; print(s.find('Jo'))

5

s.find() 함수는 s라는 string에 속해 있는 단어의 첫번째 글자의 인덱스를 표시해줌, 만약 여러번 나오는 단어라면 가장 먼저 있는 단어의 인덱스를 표시해줌

In [8]:
print(s.strip())

I am Jo seung-han.

s.strip() 함수는 s라는 string에 있는 화이트 스페이스를 지워주는 역할을 함

In [10]:
splits = s.split(' ')
print(splits)

['I', 'am', 'Jo', 'seung-han.', '\n']

s.split() 함수는 괄호 안에 있는 입력을 중심으로 string을 쪼개서 리스트로 만들어주는 역할을 함

In [11]:
print(' '.join(splits))

I am Jo seung-han.

''.join() 함수는 '' 안의 입력 이용해서 list를 하나의 string으로 연결해 주는 역할을 함

In [12]:
print(s.replace('Jo', 'jo'))

I am jo seung-han.

s.replace('a', 'b') 함수는 s라는 string에 있는 'a'라는 내용을 'b'로 바꿔주는 역할을 함

In [16]:
def add(a,b): 
  return a+b
print(add(1,3))

4

In [17]:
def seunghan(a,b,c):
  return a*b-c
print(seunghan(9,3,8))

19

def를 이용해서 새로운 함수를 정의할 수 있으며 함수를 정의할 때는 입력과 출력을 절해두어야 한다. 만약 입력이 없는 경우 괄호는 빈칸으로 두면 된다.

In [20]:
a=['jo', 'seung', 'han', 'a', 'b']
for i in a:
  print(i)
for i in range(len(a)):
  print(a[i])

jo
seung
han
a
b
jo
seung
han
a
b

for 구문은 반복 구문으로 for i in a는 a에 있는 것을 하나씩 받아서 i에 넣고 돌린다는 것을 의미, range(a) 함수는 list를 만드는 함수로 예를 들어 range(4) = [0,1,2,3]으로 생각하면 되고 range(3,5) = [3,4]를 생각하면 됨

In [21]:
a = 0
if a == 0:
  print(a)
else:
  print(a+1)

0

if 구문은 조건문으로 조건이 충족할 경우와 충족하지 않을 경우 어떤 결과가 나와야 하는지 설정하면 됨

In [22]:
for i in range(2, 5):
    for j in range(0, 5):
        if j >=4:
            print(i*j)

8
12
16

if 구문과 for 구문을 같이 활용하는 것도 가능

In [24]:
a = ['jo', 'seung', 'han']
b = [1, 2, 3]
c = {a[i]:b[i] for i in range(3)}
print(c, type(c))

{'jo': 1, 'seung': 2, 'han': 3} <class 'dict'>

for과 if 구문을 이용해서 이런 식으로 dict를 만드는 것도 가능함